table{
    text-align: center;
}
.sectionDiv{
    padding: 1em;
    margin-top: 1em;
}
#section_ReqForm > form > div >{
    height: 70px;
    vertical-align: middle;
}
#section_ReqForm .form-group{
    min-width: 145px;
}
.sectionDiv > h5{
    padding: 1em 1em 1em 0em; 
}
#section_Charts .col-sm-6{
    text-align: center;
}